<!DOCTYPE html>
<html lang="en" ng-app="myAppSlide">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div ng-controller="MyCtrlslide" ng-model="myimage">
        <button ng-click="changeImagePrev()"><</button>
        <img height="200" width="200" ng-src="{{myimage}}">
        <button ng-click="changeImageNext()">></button>
    </div>
    <script src="angular.js"></script>
    <script src="slide.js"></script>
</body>
</html>